stamp-h*
intltool-update.in
intltool-update
intltool-merge.in
intltool-merge
intltool-extract.in
intltool-extract
configure
config.status
config.log
config.h.in
config.h
autom4te*.cache
aclocal.m4
Makefile.in
Makefile
ltmain.sh
libtool-nofpic
libtool
config.sub
config.guess
mkinstalldirs
missing
install-sh
depcomp
compile
INSTALL
gnome-doc-utils.make
*.patch
*.gmo
*.o
*.lo
.deps
.libs
*.la
stamp-it
POTFILES
totem-plparser-mini-uninstalled.pc
gtk-doc.make
totem-plparser.pc
totem-plparser-uninstalled.pc
totem-plparser-mini.pc
totem-pl-parser.spec
*~
plparse/stamp-totem-pl-parser-builtins.h
plparse/test-parser
plparse/tests/disc
plparse/tests/parser
plparse/totem-pl-parser-features.h
plparse/totemplparser-marshal.c
plparse/totemplparser-marshal.h
po/Makefile.in.in
